# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
.runtimeconfig.json
// "mongodb+srv://andreashoffman:redbull@cluster0.34im7b6.mongodb.net/gc?retryWrites=true&w=majority"